body{
    display: grid;
    grid-template-columns: 100%;
    background-color:white;
    text-align: center;
    margin : 0;
    padding : 0;

}

/*CONTENIDO*/
.cat{
    display: grid;
    grid-template-columns: 100%;
}

.contenidoA{
    display: grid;
    grid-template-columns: 100%;
    box-shadow: 1px 0px 4px 3px rgb(255, 0, 64, 0.4);
    background-color: rgba(255, 0, 64, 0.6);
    padding:2%;
    color: white;
}
.contenidoA h2{
    font-family: 'Lobster', cursive;
}
.desc{
    font-family: 'Lobster', cursive;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}
.contenidoB{
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(255, 255, 255);
    padding:4%;
    color: black;
}
.imagesA{
    width: 100px;
    height : 100px;
    border: 3px solid white;
    border-radius: 100px;
    margin :auto;
    margin-top: 3%;
    margin-bottom: 5%;
}
.imagesB{
    width: auto;
    height : 350px;
}

/*NAV*/
.navegacion{
    background-color: rgba(255, 0, 64, 0.6);
    padding-bottom: 2%;
    padding-top: 3%;
    box-shadow: 1px 1px 2px 0px  rgba(255, 0, 64, 0.8);
    color : white
}
.navegacion h3{
    margin-top: 40%;
    font-size: 90%;
}
.navegacion h2{
    font-family: 'Lobster', cursive;
    font-size: 130%;
}

/*LOGOS*/
.logo{
    border: 4px solid rgb(255, 0, 64);
    position:absolute;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    transform:translate(-50%, 0%)
}
.cat-logos{
    width: 20px;
    height: 20px;
    margin-right: 1%;
    margin-bottom: 1%;
}

/*CONTENIDO*/
.presentacion{
    font-family: 'Roboto', sans-serif ;
    width: 100vw;
    margin:auto;
}

/*FOOTER*/
.footer{
    color: white;
    box-shadow: 1px 0px 4px 3px rgb(255, 0, 64, 0.4);
    padding: 5%;
    background-color: rgba(255, 0, 64, 0.6);
}
.footer h4{
    font-family: 'Lobster', cursive;
}
.contacto{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 3%;
    
}
.contacto a{
    text-decoration: none;
    font-size: 120%;
    color: white;
    cursor: pointer;
}

/*MEDIA QUERYS*/
@media  (min-width: 400px) and (max-width: 499px){
    .navegacion h3{
        margin-top: 30%;
        font-size: 90%;
    }
}
@media (min-width: 500px) and (max-width: 600px){
    .navegacion h3{
        margin-top: 24%;
        font-size: 190%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:50% 50%;
    }
}
@media (min-width: 601px) and (max-width: 800px){
    .navegacion h3{
        margin-top: 21%;
        font-size: 190%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:50% 50%;
    }
}
@media (min-width: 801px) and (max-width: 1151px){
    .navegacion h3{
        font-size: 210%;
        margin-top: 15%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .cat{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 150%;
    }   
 
    .contenidoB{
        display: grid;
        grid-template-columns:33% 33% 33%;
    }
    .footer{
        padding: 1%;
        padding-bottom: 2%;
    }


}
@media (min-width: 1152px){
    .navegacion h3{
        font-size: 190%;
        margin-top: 10%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoA{
        font-size: 150%;
    }   
    .cat{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 100%;
        padding: 1%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:33% 33% 33%;
    }
    .footer{
        padding: 1%;
        padding-bottom: 2%;
    }    
    .imagesA{
        width: 170px;
        height: 170px;
        border-radius: 200px;
    }
   
   

}
