body{
    display: grid;
    grid-template-columns: 100%;
    background-color:white;
    text-align: center;
    margin : 0;
    padding : 0;

}

/*CONTENIDO*/
.cat{
    display: grid;
    grid-template-columns: 100%;
}

.contenidoA{
    display: grid;
    grid-template-columns: 100%;
    box-shadow: 1px 0px 4px 3px rgb(255, 0, 64, 0.4);
    background-color: rgba(255, 0, 64, 0.6);
    padding:2%;
    color: white;
}
.contenidoA h2{
    font-family: 'Lobster', cursive;
}
.desc{
    font-family: 'Lobster', cursive;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}
.multimedia{
    margin:auto;
    width: 50vw;
    background-color:rgba(255, 0, 0, 0)
}
.boton-modal{
    position:absolute;
    z-index: 10;
}
.contenidoB{
    display: grid;
    grid-template-columns: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
    margin: auto ;
    margin-left: 10% !important;
    margin-right: 10% !important;
}
.ver{
    text-decoration: none !important;
    background-color: rgb(255, 0, 64, 0.8);
    color: white;
    box-shadow: 1px 3px 5px 1px rgb(255, 0, 64, 0.5);
    font-family: 'Lobster', cursive;
    border-radius: 15px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
    padding-bottom: 1%;

}
.ds{display: none;}
.ver:hover{
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: button-ver;
}
.ver:active{
    animation:none;
    background-color: rgb(255, 0, 64);
    box-shadow: 0px 0px 0px 0px;
    color:white;
}
.imagesA{
    width: 100px;
    height : 100px;
    border: 3px solid white;
    border-radius: 100px;
    margin :auto;
    margin-top: 3%;
    margin-bottom: 5%;
}
.imagesB{
    width: auto;
    height : 350px;
}
.presentacion{
    font-family: 'Roboto', sans-serif ;
    width: 100vw;
    margin:auto;
}

/*NAV*/
.navegacion{
    background-color: rgba(255, 0, 64, 0.6);
    padding-bottom: 2%;
    padding-top: 3%;
    box-shadow: 1px 1px 2px 0px  rgba(255, 0, 64, 0.8);
    color : white
}
.navegacion h3{
    margin-top: 40%;
    font-size: 90%;
}
.navegacion h2{
    font-family: 'Lobster', cursive;
    font-size: 130%;
}

/*LOGOS*/
.logo{
    border: 4px solid white;
    position:absolute;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    transform:translate(-50%, 0%)
}
.cat-logos{
    width: 20px;
    height: 20px;
    margin-right: 1%;
    margin-bottom: 1%;
}

.blanco::placeholder {
    text-align: center;
    color:white;

}
.blanco::placeholder {
    color: white;
    opacity: 1; 
    font-style: italic;
    text-align: center;
}
.blanco:-ms-input-placeholder { 
   color: white;
   text-align: center;
   font-style: italic;
}
.blanco::-ms-input-placeholder { 
   color: white;
   font-style: italic;
   text-align: center;
}
.bg-buscador{
    background-color: rgba(255, 0, 64, 0.6);
    box-shadow: 2px 3px 6px 0px  rgba(255, 0, 64, 0.4);
    border-radius: 50px;
    padding-left: 3%;
    padding-right: 3%;
    width: 75vw;
}

/*CONTENIDO*/
.presentacion{
    font-family: 'Roboto', sans-serif ;
    width: 100vw;
    margin:auto;
}

/*FOOTER*/
.footer2{
    color: white;
    box-shadow: 1px 0px 4px 3px rgb(255, 0, 64, 0.4);
    padding: 5%;
    background-color: rgba(255, 0, 64, 0.6);
}
.footer2 h4{
    font-family: 'Lobster', cursive;
}
.contacto{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 3%;
}
.contacto a{
    text-decoration: none;
    font-size: 130%;
    color: white;
    cursor: pointer;
}

/*ANIMACIONES*/
@keyframes button-ver {
    from {
        color: white;
        background-color: rgba(255, 0, 64, 0.8);
        box-shadow: 1px 3px 5px 1px rgb(255, 0, 64, 0.5);
    }
    to{
        background-color: rgba(255, 0, 64, 0.4);
        box-shadow: 1px 3px 5px 1px rgb(255, 0, 64, 1);
        color: black;
    }

}
@keyframes modalE {
    from {
        text-decoration: none;
        border:none;
        background-color: rgba(0,0,0,0)
    }
    25%{
        background-color: rgba(255, 255, 255, 0,2);
        color:rgba(0, 0, 0, 0.2);
    }
    50%{
        background-color: rgba(255, 255, 255, 0,5);
        color:rgba(0, 0, 0, 0.5);
    }
    75%{
        background-color: rgba(255, 255, 255, 0,7);
        color:rgba(0, 0, 0, 0.7);
    }
    to{
        background-color: rgba(255, 255, 255, 1);
        color:rgba(0, 0, 0, 1);
    }

}


/*MEDIA QUERYS*/
@media  (min-width: 320px) and (max-width: 399px){
    .navegacion h3{
        margin-top: 40%;
        font-size: 90%;
    }
    .contenidoB{
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
    .multimedia{
        width: 95vw;
    }
}
@media  (min-width: 400px) and (max-width: 499px){
    .navegacion h3{
        margin-top: 35%;
        font-size: 90%;
    }
    .contenidoB{
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
    .multimedia{
        width: 95vw;
    }
}
@media (min-width: 500px) and (max-width: 600px){
    .navegacion h3{
        margin-top: 24%;
        font-size: 190%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:50% 50%;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .multimedia{
        width: 80vw;
    }
}
@media (min-width: 601px) and (max-width: 800px){
    .navegacion h3{
        margin-top: 21%;
        font-size: 190%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:50% 50%;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .multimedia{
        width: 70vw;
    }
}
@media (min-width: 801px) and (max-width: 1151px){
    .navegacion h3{
        font-size: 210%;
        margin-top: 15%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .cat{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 150%;
    }   
    .contenidoB{
        display: grid;
        grid-template-columns:33% 33% 33%;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .footer{
        padding: 1%;
        padding-bottom: 2%;
    }
    .multimedia{
        width: 60vw;
    }


}
@media (min-width: 1152px){
    .navegacion h3{
        font-size: 190%;
        margin-top: 10%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoA{
        font-size: 150%;
    }   
    .cat{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 100%;
        padding: 1%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:33% 33% 33%;
    }
    .footer{
        padding: 1%;
        padding-bottom: 2%;
    }    
    .imagesA{
        width: 170px;
        height: 170px;
        border-radius: 200px;
    }
   
   

}
