body{
    display: grid;
    grid-template-columns: 100%;
    background: #ee9ca7; 
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    background: linear-gradient(to right, #ffdde1, #ee9ca7); 
    text-align: center;
    margin : 0;
    padding : 0;
}
::-webkit-scrollbar{
    background-color:rgba(255, 0, 64, 0.2);
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 0, 64, 0.8);
    border-radius: 15px;
}
::-webkit-scrollbar-track{
    background-color: transparent !important;
}
/*CONTENIDO*/
.cat{
    display: grid;
    grid-template-columns: 100%;
}

.contenidoA{
    display: grid;
    grid-template-columns: 100%;
    box-shadow: 1px 0px 4px 3px rgb(255, 0, 64, 0.4);
    background-color: rgba(255, 0, 64, 0.8);
    padding:2%;
    color: white;
}
.contenidoA h2{
    font-family: 'Lobster', cursive;
}
.desc{
    font-family: 'Lobster', cursive;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}
.multimedia{
    margin:auto;
    width: 50vw;
    background-color:rgb(255, 0, 64, 0.9);
    color: white;
}
.multimedia h5{
    margin: 1%;
    padding: 1%;
}
.boton-modal{
    position:absolute;
    z-index: 10;
}
.contenidoB{
    display: grid;
    grid-template-columns: 100%;
    color: black;
    margin: auto ;
    margin-left: 11% !important;
    margin-right: 11% !important;
}
.ver{
    text-decoration: none !important;
    background-color: rgb(255, 0, 64, 0.8);
    color: white;
    box-shadow: 1px 3px 5px 1px rgb(255, 0, 64, 0.5);
    font-family: 'Lobster', cursive;
    font-size: 130%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 3%;
    margin-bottom: 5%;
    width:50%;

}
.ds{
    display: none;
}
.info-card{
    font-size: 150%;
}
.ver:hover{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: button-ver;
}
.ver:active{
    animation:none;
    background-color: rgb(255, 0, 64);
    box-shadow: 0px 0px 0px 0px;
    color:white;
}
.imagesA{
    width: 100px;
    height : 100px;
    border: 3px solid white;
    border-radius: 100px;
    margin :auto;
    margin-top: 3%;
    margin-bottom: 5%;
}
.imagesB{
    width: auto;
    height : 350px;
   
}
.card{
    box-shadow: 3px 2px 1px 0px rgba(255, 0, 64, 0.8);
    background-color:rgb(255, 230, 236);
}
.card:hover{
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: img;
}
.presentacion{
    font-family: 'Roboto', sans-serif ;
    width: 100vw;
    margin:auto;
}

/*NAV*/
.navegacion{
    padding-bottom: 8%;
    padding-top: 5%;
    color : black;
}
.navegacion h3{
    margin-top: 0% !important;
    font-size: 600% !important;
    font-family: 'Lobster', cursive;
}
.navegacion h2{
    margin-top: 2%;
    font-family: 'Lobster', cursive;
    font-size: 300% !important;
}

/*LOGOS*/
.logo{
    position:absolute;
    width: 180px;
    height: 180px;
    border-radius: 180px;
    transform:translate(-50%, 10%);
    border: 1px solid rgb(255, 0, 64);
    
}
.cat-logos{
    width: 20px;
    height: 20px;
    margin-right: 1%;
    margin-bottom: 1%;
}

/*BUSCADOR*/
[contenteditable].form-control:focus, [type=text].form-control:focus, input.form-control:focus, input[type=text]:focus, textarea.form-control:focus, textarea:focus {
    text-align: center;
    box-shadow: inset 0 -1px 0 white;
    color:white;
}
.blanco::placeholder {
    text-align: center;
    color:white;

}
.blanco::placeholder {
    color: white;
    opacity: 1; 
    font-style: italic;
    text-align: center;
}

.blanco:-ms-input-placeholder { 
   color: white;
   text-align: center;
   font-style: italic;
}
.blanco::-ms-input-placeholder { 
   color: white;
   font-style: italic;
   text-align: center;
}
.bg-buscador{
    background-color: rgba(255, 0, 64, 0.8);
    box-shadow: 1px 0px 4px 3px rgb(255, 0, 64, 0.4);
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 6% !important;
    width: 60vw;
}


/*CONTENIDO*/
.presentacion{
    font-family: 'Roboto', sans-serif ;
    width: 100vw;
    margin:auto;
}

/*FOOTER*/
.footer2{
    color: white;
    box-shadow: 1px 0px 4px 3px rgb(255, 0, 64, 0.4);
    padding: 5%;
    background-color: rgba(255, 0, 64, 0.6);
}
.footer2 h4{
    font-family: 'Lobster', cursive;
}
.contacto{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 3%;
}
.contacto a{
    text-decoration: none;
    font-size: 130%;
    color: white;
    cursor: pointer;
}

/*ANIMACIONES*/
@keyframes button-ver {
    from {
        color: white;
        background-color: rgba(255, 0, 64, 0.8);
        box-shadow: 1px 3px 5px 1px rgb(255, 0, 64, 0.5);
    }
    to{
        background-color: rgba(255, 0, 64, 0.2);
        box-shadow: 1px 3px 5px 1px rgb(255, 0, 64, 1);
        color: rgb(255, 0, 64)
    }

}
@keyframes img {
    from {
        box-shadow: 3px 2px 1px 0px rgba(255, 0, 64, 0.8);
    }
    to{
        box-shadow: 6px 4px 2px 0px rgba(255, 0, 64, 0.8);
    }

}
@keyframes modalE {
    from {
        text-decoration: none;
        border:none;
        background-color: rgba(0,0,0,0)
    }
    25%{
        background-color: rgba(255, 255, 255, 0,2);
        color:rgba(0, 0, 0, 0.2);
    }
    50%{
        background-color: rgba(255, 255, 255, 0,5);
        color:rgba(0, 0, 0, 0.5);
    }
    75%{
        background-color: rgba(255, 255, 255, 0,7);
        color:rgba(0, 0, 0, 0.7);
    }
    to{
        background-color: rgba(255, 255, 255, 1);
        color:rgba(0, 0, 0, 1);
    }

}


/*MEDIA QUERYS*/
@media  (min-width: 320px) and (max-width: 399px){
    .navegacion h3{
        margin-top: 40%;
        font-size: 400% !important;
    }
    .navegacion h2{
        font-size: 250% !important;
    }
    .contenidoB{
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
    .multimedia{
        width: 95vw;
    }
    .desc{
        margin-top: 55%;
    }
    .logo{
        width: 140px;
        height: 140px;
        border-radius: 140px;
    }
    .imagesB{
        height: 270px;
    }
}
@media  (min-width: 400px) and (max-width: 499px){
    .navegacion h3{
        margin-top: 40%;
        font-size: 400% !important;
    }
    .navegacion h2{
        font-size: 250% !important;
    }
    .contenidoB{
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
    .multimedia{
        width: 95vw;
    }
    .desc{
        margin-top: 45%;
    }
}
@media (min-width: 500px) and (max-width: 600px){
    .navegacion h3{
        margin-top: 24%;
        font-size: 190%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:50% 50%;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .multimedia{
        width: 80vw;
    }
    .desc{
        margin-top: 40%;
    }
}
@media (min-width: 601px) and (max-width: 800px){
    .navegacion h3{
        margin-top: 21%;
        font-size: 190%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:50% 50%;
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .multimedia{
        width: 70vw;
    }
    .desc{
        margin-top: 25%;
    }
}
@media (min-width: 801px) and (max-width: 1151px){
    .navegacion h3{
        font-size: 210%;
        margin-top: 15%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .cat{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 150%;
    }   
    .contenidoB{
        display: grid;
        grid-template-columns:33% 33% 33%;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    .footer{
        padding: 1%;
        padding-bottom: 2%;
    }
    .multimedia{
        width: 60vw;
    }
    .desc{
        margin-top: 17%;
    }


}
@media (min-width: 1152px){
    .navegacion h3{
        font-size: 190%;
        margin-top: 10%;
    }
    .navegacion h2{
        font-size: 200%;
    }
    .contenidoA{
        font-size: 150%;
    }   
    .cat{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        font-size: 100%;
        padding: 1%;
    }
    .contenidoB{
        display: grid;
        grid-template-columns:33% 33% 33%;
    }
    .footer{
        padding: 1%;
        padding-bottom: 2%;
    }    
    .imagesA{
        width: 170px;
        height: 170px;
        border-radius: 200px;
    }
   
   

}
